<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modules</title>
    <script src="lib/angular.js"></script>
    <script src="scripts/module.js"></script>
</head>
<body id="thebody" ng-app="app">
    <h2>Modules</h2>

    <div ng-repeat="team in teams">
        <p>{{team}}</p>
    </div>

    <div ng-controller="MainController">
        <p>Message: {{message}}</p>
        <p>Count: {{count}}</p>

        <div>
            <button ng-click="inc()">Inc</button>
        </div>
        
    </div>

    
</body>
</html> 